* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
    height: 100%;
}

.bg { 
 
    background-image: url("../images/22.jpeg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.about {
    
    background-image: url("../images/24.jpeg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
	opacity: .75;
}

.nav-item {
	font-size: 20px;
	font-color: black;
}


.container-bg h1 {
    text-align: center;
    font-size: 8em;
    padding-top: 150px;
    font-family: 'Satisfy', cursive;
}

.container-bg h2 {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 4em;
}


h2 {
    text-align:center;
    font-family: 'Satisfy', cursive;
    font-size: 4em;

}

.aboutp {
    text-align:center;
    font-family: 'Satisfy', cursive;
    font-size: 2em;

}

footer {
    width:100%;
    height: 100px;
    background-color: black;
}



.contact {
    color:white;
    text-align:center;
}

.contact1 {
    color:white;
    text-align:center;
}

.gallery {

    background-image: url("../images/39.jpeg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.gallery2 {

    background-image: url("../images/27.jpeg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.gallery3 {

    background-image: url("../images/66.jpeg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.gallery4 {

    background-image: url("../images/64.jpeg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.gallery5 {

    background-image: url("../images/65.jpeg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.team {

    background-image: url("../images/40.jpeg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


.card2 {
    opacity:.75;
}

.teampic {
    width:150px;
    height:150px;
}

.card2 {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nav {
position: fixed;
z-index: 10;
width:100%;
}



/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    .card2 {
        height: 80px;
    }
}


/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { ... }

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { ... }

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { ... }

/*// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width*/










